body {
    padding: 2rem;
    line-height: 1.314;
}

::selection {
    background: rgba(100, 209, 243, 0.5);
}

.glitch {
    min-height: 100vh;
    overflow:hidden;
    background: #252926;
    color: #7cb4fc;
    font-family: Monaco, "Courier New", Courier, monospace;
    font-size: x-large;
    text-shadow:
        0 0 1px #d6e6ff,
        0px 0px 1px #1c62b7,
        0px 0px 1px #da4747;
}

a, a[tabindex]:focus, a:active {
    color: #c1f5ff;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #5efa7b;
    outline: none;
    text-decoration: none;
}

.container {
    position: relative;
    z-index: 99999;
    width: 100%;
    height: 100&;
}

textarea, input, input:focus, #booksButton {
    outline: none;
    border: none;
    // This is a test size, must be made relative to the screen width
    width: 1000px;
    background-color: #162030;
    overflow: hidden;
    color: #7cb4fc;
    font-size: x-large;
    text-shadow:
        0 0 1px #d6e6ff,
        0px 1px 1px #1c62b7,
        0px 0px 1px #da4747;
}

// Forces the contacts div to be on the bottom
#terminal {
    position: relative;
}

#contacts {
    position: absolute;
    bottom: 0;
    right: 55px;
}

.term {
    position: relative;
    height: 790px;
    overflow: hidden;
    border-radius: 50px;
    -webkit-filter: blur(0.3px);
    // This is the screen "panel"
    border-left: 20px solid #1b1b1b;
    border-right: 20px solid #1c1c1c;
    border-top: 25px solid #0f1310;
    border-bottom: 25px solid #0f1310;
    color: #7cb4fc;
    padding: 1.5em 1.5em 1.5em 5em;
    box-shadow: inset 0 0 0 9px rgba(21,21,20,0.6),  0 1px 60px 10px rgba(40,46,40,9), inset 0 1px 80px 5px rgba(0,0,0,0.97);
    background-color: #162030;
}

#books th, td {
    padding: 5px;
    text-align: left;
}
