#terminal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
    width: 100px;
    height: 100px;
}

textarea:focus, input:focus{
    outline: none;
}

#termInput* {
    position: abosulute;
    width: 200px;
    height: 10px;
}
